body {
    background-color: rgb(255, 255, 255);
    justify-content: flex;
    display: flex;
}

fixed-size-image {
  width: 300px;
  height: 200px;
}

#title {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 5vw;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
    display: flex;
    margin-top: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#p1 {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-top: 20px;
}


#container1 {
	max-width: 800px;
  width: 30ch;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

#container2 {
	max-width: 800px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}