h1 {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-top: 20px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#letter {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 65px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-top: 0px;
    width: 30ch;
}

.letterboard {
    width: 110px;
    height: 90px;
}